# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IntelliJ IDEA
.idea
reenit.iml

# Ignore API secrets
src/main/resources/api.properties

# Ignore user config file
user-info.properties
